@import '../utils/_variables';

.navbar {
  // position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $--clr-white;
  opacity: 0.8;
  box-shadow: $--dark-shadow;
  z-index: 2;
  ul {
  list-style-type: none;
  }
  a {
    text-decoration: none;
    padding-right: 2rem;
  }
  .nav-logo img{
      height: 100px;
      width: auto;
      border-radius: 50%;
  }
}

.nav-center {
  width: 100%;
  // max-width: 1170px
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-logo {
  height: 8rem;;
  width: auto;
  border-radius: 50%;
  box-shadow: $--dark-shadow;

}
.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: $--clr-primary-1;
  transition: $--transition;
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: $--spacing;
  transition: $--transition;
  color: $--clr-primary-1;
  font-size: 1.2rem;
}
.nav-link:hover {
  color: $--clr-primary-1;
  background: $--clr-primary-2;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: $--transition;
}
.show-links {
  height: 280px;
}
@media (min-width: 992px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-toggle {
    display: none;
  }
  .nav-logo{
    display: flex;
    align-items: center;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* optional */
    // flex-wrap: wrap;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
    margin-right: 0.7rem;
  }
  .nav-link:hover {
    color: $--clr-primary-2;
    background: transparent;
  }

}